spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: receipt-generation-service
  banner:
    location: static/banner.txt
  kafka:
    topic:
      name: ${KAFKA_TOPIC_NAME:reddogoct3}
      group: ${KAFKA_TOPIC_GROUP:receipt-service}
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    security:
      protocol: ${KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID:receiptservice}
      auto-offset-reset: latest
      properties:
        spring:
          json:
            trusted.packages: "*"
            type.mapping: ordersummary:com.microsoft.gbb.reddog.receiptgenerationservice.dto.OrderSummaryDto
        sasl:
          jaas.config: ${KAFKA_SASL_JAAS_CONFIG}
          mechanism: ${KAFKA_SASL_MECHANISM:PLAIN}
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
  cloud:
    azure:
      storage:
        blob:
          account-name: ${AZURE_STORAGE_ACCOUNT_NAME}
          account-key: ${AZURE_STORAGE_ACCOUNT_KEY}
          endpoint: ${AZURE_STORAGE_ENDPOINT}
data:
  BLOB:
    CONTAINER: ${BLOB_CONTAINER:reddogasa}
    FILE_NAME: ${BLOB_FILE_NAME:receipts.txt}
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS
server:
  port: 8085
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger
    enabled: true
---
spring:
  profiles: dev
  application:
    name: receipt-generation-service