{
    "location":"eastus",
    "username": "myusername",
    "adminpassword": "replaceSecurePassword",
    "_comment1": "for deploy target one of: local, asa, aks, aro",
    "deploytarget": "local"    
}