{
    "location":"eastus",
    "username": "briar",
    "adminpassword": "replaceSecurePassword"
    "_comment1": "for deploy target one of: local, azure-spring-apps, azure-aks",
    "deploytarget": "local"    
}